.home {
  &__page {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    padding: 10rem;
    margin: auto;
  }

  &__hero {
    width: 100%;
    text-align: center;

    padding: 5rem 0;
    background: url('../public/pexels.jpeg') no-repeat center;
    background-size: cover;
  }

  &__title {
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.7);
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
    display: inline-block;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .home__grid {
    grid-template-columns: repeat(2, 50%);
  }
}
