.search {
  &__form {
    display: flex;
    justify-content: center;

    margin: 1.5rem 1rem 0.8rem;
  }

  &__label {
    position: relative;
    width: 100%;
  }

  &__label::after {
    content: '';
    position: absolute;
    top: 1.2rem;
    left: 0.5rem;
    width: 1rem;
    height: 1rem;
    transform: translateY(-50%);

    background-image: url('../../../public/Search.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__input {
    width: 100%;
    border: 1px solid #e1e7ed;
    border-radius: 0.2rem;

    outline: none;
    padding: 0.6rem;
    padding-left: 1.8rem;
    font-size: 1rem;

    &:hover {
      box-shadow: 0 1px 8px 0 rgba(213, 133, 63, 0.2);
    }

    &:focus {
      font-weight: 300;
    }
  }
}

.card-results {
  display: grid;
  grid-template: auto / 1fr 15rem;
  gap: 1.5rem;
  min-height: 100vh;
}

.card-content {
  padding: 1.5rem;
}
